<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="../auth/signup.css">
</head>

<body>
    <div class="wrapper">
        <form method="post" th:action="@{/registration}">
            <h2>Присоединяйтесь к нам,<br>создайте свой аккаунт</h2>
            <h1>Регистрация</h1>
            <div class="input-box">
                <input type="text" autocomplete="off" placeholder="Введите имя" required/>
            </div>
            <div class="input-box">
                <input type="email" autocomplete="off" placeholder="Введите email" required/>
            </div>
            <div class="input-box">
                <input type="password" autocomplete="off" placeholder="Придумайте пароль" required/>
            </div>
            <div class="input-box">
                <div style="color:red"></div>
                <input type="password" autocomplete="off" placeholder="Повторите пароль" required/>
            </div>
            <button type="submit" class="btn" value="register">Зарегистрироваться</button>
            <div class="register-link">
                <p>Уже зарегистрировались? <a class="registration" href="login">Войти</a></p>
            </div>
        </form>
    </div>
</body>

</html>