<!DOCTYPE html>
<html>
<head>
    <title>Application Page</title>
</head>
<body>
<form th:action="@{/admin/create-event}" th:method="POST" th:object = "${event}" >
    <!-- Поля для мероприятия -->
    <input type="text" name="name" placeholder="Event Name" th:field = "*{name}"/>
    <input type="date" name="date" placeholder="Event Date" th:field = "*{date}"/>
    <textarea name="description" placeholder="Event Description" th:field = "*{description}" ></textarea>
    <button type="submit">Create Event</button>
</form>
</body>
</html>