<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/branding/favicon.ico" type="image/x-icon">
    <title>Edit</title>
    <script src="/adminStatic/editPageScript.js"></script>
    <link rel="stylesheet" type="text/css" href="/adminStatic/edit.css">
</head>

<body>
<header th:insert="~{base/base::baseheader}"></header>
<div class="wrapper">
    <div class="title">Редактирование мероприятия</div>
    <div class="event-container">
        <form th:id="editForm" th:method="PATCH" th:action="@{/admin/events/{id} (id=${event.getId()})}" th:object="${event}">
            <div class="event-details">
                <div class="input-box">
                    <span class="details">Введите название мероприятия</span>
                    <label>
                        <input type="text" placeholder="Название мероприятия" th:field="*{name}" required/>
                    </label>
                </div>
                <div class="input-box">
                    <span class="details">Выберите зал</span>
                    <label>
                        <select th:placeholder="Зал" th:id="hall" th:field="*{hall}" required>
                            <option th:each="hall : ${halls}" th:value="${hall.id}" th:text="${hall.name}">Название зала</option>
                        </select>
                    </label>
                </div>
                <div class="input-box">
                    <span class="details">Дата мероприятия</span>
                    <label>
                        <input type="date" th:id="eventDate" th:name="eventDate" placeholder="Дата" th:value="${#dates.format(event.getDate(), 'yyyy-MM-dd')}" required/>
                    </label>
                </div>
                <div class="input-box">
                    <span class="details">Время начала мероприятия</span>
                    <label>
                        <input type="time" th:id="eventTime" th:name="eventTime" placeholder="Время" th:value="${#dates.format(event.getDate(), 'HH:mm')}" required/>
                    </label>
                </div>
                <div class="input-box duration">
                    <span class="details">Продолжительность мероприятия</span>
                    <label>
                        <input type="number" step="" min="0" placeholder="Продолжительность" th:field="*{duration}" required/>
                    </label>
                </div>
                <div class="description-box">
                    <span class="details">Описание</span>
                    <label>
                        <textarea type="text" th:id="textarea"
                                 th:maxlength="180" placeholder="Описание" th:field="*{description}" required></textarea>
                    </label>
                </div>
            </div>
            <div class="button">
                <input th:id="editButton" type="submit" value="Подтвердить">
            </div>
        </form>
        <form th:id="deleteForm" th:method="DELETE" th:action="@{/admin/events/{id} (id=${event.getId()})}">
            <input class="button" th:id="deleteButton" type="submit" value="Удалить" onclick="return confirm('Вы уверены, что хотите удалить мероприятие?')">
        </form>
    </div>
</div>
</body>
<footer th:insert="~{base/base::basefooter}"></footer>
</html>