<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/branding/favicon.ico" type="image/x-icon">
    <title>Ongoing</title>
    <script src="/adminStatic/eventPageScript.js"></script></head>

<link rel="stylesheet" type="text/css" href="/adminStatic/events.css">

<body>

<header th:insert="~{base/base::baseheader}">
</header>
<div th:class="second-header">
    <a th:id="pastLink" href="/admin/events?choice=past">Прошедшие</a>
    <a th:id="currentLink" href="/admin/events?choice=current">Текущие</a>
    <a th:id="requestsLink" th:href="@{/admin/events/requests}">Запросы</a>
</div>

<div th:class="filter" onclick="openSortOptions()" >
    <img src="/adminStatic/filter_icon.png" alt="filter">
    <div th:class="text">
        <a>filter</a>
    </div>
</div>

<div th:class="table-background">
    <table>
        <thead>
        <tr>
            <th th:id="idCol">ID события</th>
            <th th:id="nameCol">Название мероприятия</th>
            <th th:id="emailCol">email</th>
            <th th:id="descriptionCol">Описание</th>
            <th th:id="hallCol">Зал</th>
            <th th:id="dateCol">Дата</th>
            <th th:id="statusCol">Статус</th>
            <th th:id="editCol">Редактирование</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.getId()}"></td>
            <td th:text="${event.getName()}"></td>
            <td th:text="${event.getOwner()}"></td>             <!-- TODO Add .getEmail() -->
            <td th:text="${event.getDescription()}"></td>
            <td th:text="${event.getHall()}"></td>
            <td th:text="${#dates.format(event.getDate(), 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${event.isStatus()}"></td>
            <td th:id="editButtons">
                <a th:class="btn" th:href="@{/admin/events/{id}/edit (id=${event.getId()})}">Редактировать</a>
                <a th:class="btn" th:href="@{/admin/events/{id} (id=${event.getId()})}">Предпоказ</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="sortModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeSortOptions()">&times;</span>
        <button onclick="sortTableByStatus()">Sort by Status</button>
        <button onclick="sortTableByDate()">Sort by Date</button>
    </div>
</div>

<button onclick="topFunction()" id="scrollBtn" title="Go to top">TOP</button>
<footer th:insert="~{base/base::basefooter}"></footer>
</body>
</html>
