<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="basehead">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/branding/favicon.ico" type="image/x-icon">
    <title>Current</title>
    <script src="/admin/script.js"></script></head>

<link rel="stylesheet" type="text/css" href="/admin/events.css">
<body>
<header th:insert="base/base::baseheader">
    <a th:href="@{/events}" class="btn">click</a>
</header>

<div th:class="second-header">
    <a th:id="pastLink" th:href="@{/admin/events/past}">Past</a>
    <a th:class="active" th:id="currentLink" th:href="@{/admin/events/}">Current</a>
    <a th:id="requestsLink" th:href="@{/admin/events/requests}">Requests</a>
</div>


<div th:fragment="table-for-events" th:class="wrapper"><!--th:fragment="table-for-events" -->
    <table>
        <thead>
        <tr>
            <th th:id="idCol">ID клиента</th>
            <th th:id="nameCol">Имя клиента</th>
            <th th:id="emailCol">email</th>
            <th th:id="descriptionCol">Описание</th>
            <th th:id="hallCol">Зал</th>
            <th th:id="dateCol">Дата</th>
            <th th:id="statusCol">Статус</th>
            <th th:id="editCol">Редактирование</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.getId()}"></td>
            <td th:text="${event.getName()}"></td>
            <td th:text="${event.getOwner()}"></td> <!-- Add .getEmail() -->
            <td th:text="${event.getDescription()}"></td>
            <td th:text="${event.getHall()}"></td>
            <td th:text="${event.getDate()}"></td>
            <td th:text="${event.isStatus()}"></td>
            <td>
                <a th:href="@{/admin/events/{id}/edit (id=${event.getId()})}" class="btn">Редактировать</a>
                <a th:href="@{/admin/events/{id} (id=${event.getId()})}" class="btn">Предпоказ</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<footer th:insert="base/base::basefooter"></footer>
</body>
</html>
