<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="basehead">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/branding/favicon.ico" type="image/x-icon">
    <title>Past</title>
</head>
<body>

<header th:insert="base/base::baseheader">

</header>

<div th:class="second-header">
    <a th:class="active" th:id="pastLink" th:href="@{/admin/events/past}">Past</a>
    <a  th:id="currentLink" th:href="@{/admin/events}">Current</a>
    <a th:id="requestsLink" th:href="@{/admin/events/requests}">Requests</a>
</div>

<footer th:insert="base/base::basefooter"></footer>
</body>
</html>