<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="basehead">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/branding/favicon.ico" type="image/x-icon">
    <title>Past</title>
    <script src="/admin/script.js"></script></head>
<body>

<header th:insert="base/base::baseheader">

</header>

<h1>Past Events Details</h1>

<a th:href="@{/admin/events}">link to the registered events page</a>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${pastEvents}">
        <td th:text="${event.getName()}"></td>
        <td th:text="${event.getDate()}"></td>
        <td th:text="${event.getDescription()}"></td>
        <td>
            <a th:href="@{/admin/events/{id}/edit (id=${event.getId()})}">edit event</a>
            <a th:href="@{/admin/events/{id} (id=${event.getId()})}">Show event</a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:insert="base/base::basefooter"></footer>
</body>
</html>