<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="base/base :: basehead">
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body style="height: 5000px;">
<script src="sheduleEvents/script.js"></script>

<header th:insert="base/base :: baseheader">
</header>

<main style="margin-top: 80px;">
    <link rel="stylesheet" type="text/css" href="sheduleEvents/events.css"/>

    <div class="d-flex justify-content-center position-relative mb-3">
        <form class="d-flex ms-0" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a class="btn btn-outline-secondary" onclick="toggleList()" id="filter">
                    <i class="bi bi-filter-right"></i>
                </a>
            <div id="listContainer">
                <a href="/events?firstParam=age">По возрасту</a>
                <a href="/events?firstParam=ageReverse">По возрасту убывание</a>
                <a href=/events?firstParam=date>По дате мероприятия</a>
                <a href="/events?firstParam=concert">концерты</a>
                <a href="/events?firstParam=play">детский спектакль</a>
                <a href="/events?firstParam=show">шоу</a>
                <a href="/events?firstParam=performance">представление для взрослых</a>
            </div>
        </form>
    </div>
    <!--Сетка карточек-->
    <div class="row row-cols-1 row-cols-md-2 g-4 pl-20" style="margin-left: auto; margin-right: auto; max-width: 90%">
        <div class="col" th:each="data : ${event}">
            <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="sheduleEvents/logo.jpeg" class="img-fluid rounded-start" alt="...">
                        <div th:text="${data.getAge()}" class="age-rating">18+</div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 th:text="${data.getName()}" class="card-title">Заголовок меропрития</h5>
                            <h6 th:text="${data.getDescription()}" class="card-subtitle mb-2">вид мероприятия</h6>
                            <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                            <p class="icon-with-date">
                                <i class="bi bi-calendar4-week"></i>
                                <span th:text="${#dates.format(data.getDate(), 'dd-MM-yyyy')}"></span>
                                <i class="bi bi-clock"></i>
                                <span th:text="${#dates.format(data.getDate(), 'HH:mm')}"></span>
                            </p>
<!--                            todo add userId-->
                            <a th:href="@{/order(type=${data.getHall().getId()}, e=${data.getId()}, u='1')}">КУПИТЬ БИЛЕТЫ НА ЭТО ЕБЕЙШЕЕ МЕРО</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="base/base::basefooter"></footer>
</body>
</html>