<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="basehead">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <script src="/scheduleEventsStatic/script.js"></script>
    <link rel="icon" href="/branding/tomato.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/scheduleEventsStatic/events.css"/>
</head>
<body style="height: 2000px;">


<header th:insert="~{base/base::baseheader}">
</header>

<main style="margin-top: 80px;">
    <div class="d-flex justify-content-center position-relative mb-3">
        <div class="d-flex ms-0" role="search">
            <form th:object="${search}" th:action="@{/events/search}" th:method="post" style="display: flex; align-items: center;">
                <button type="submit" class="btn btn-success me-2">
                    <i class="bi bi-search"></i>
                </button>
                <input th:value="${thirdParam}" th:field="*{name}" id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="margin-right: 2px;">
            </form>
            <button class="btn btn-outline-secondary me-2" onclick="toggleList()" id="filter">
                <i class="bi bi-filter-right"></i>
            </button>
            <form th:action="@{/events/{reboot}}" th:method="post">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </form>

            <div id="listContainer">
                <form th:action="@{/events/{firstParam}/{thirdParam}/{page}(firstParam=${'age'},thirdParam=${thirdParam},page=${page})}" th:method="post">
                    <button type="submit" class="transparent-button">По возрасту</button>
                </form>
                <form th:action="@{/events/{firstParam}/{thirdParam}/{page}(firstParam=${'ageReverse'},thirdParam=${thirdParam},page=${page})}" th:method="post">
                    <button type="submit" class="transparent-button">По возрасту убывание</button>
                </form>
                <form th:action="@{/events/{firstParam}/{thirdParam}/{page}(firstParam=${'date'},thirdParam=${thirdParam},page=${page})}" th:method="post">
                    <button type="submit" class="transparent-button">По дате мероприятия</button>
                </form>
            </div>
        </div>
    </div>
    <!--Сетка карточек-->
    <div class="row row-cols-1 row-cols-md-2 g-4 pl-20" style="margin-left: auto; margin-right: auto; max-width: 90%">
        <div class="col" th:each="data : ${event.content}">
            <div class="card text-white bg-dark mb-3" style="max-width: 540px; height: 350px;">
                <div class="row g-0" style="height: 100%;">
                    <div class="col-md-4" style="height: 100%;">
                        <img src="/branding/tomato.png" class="img-fluid rounded-start" alt="...">
                        <div th:text="${data.getAge()}" class="age-rating">18+</div>
                    </div>
                    <div class="col-md-8" style="height: 100%;">
                        <div class="card-body h-100 d-flex flex-column">
                            <h5 th:text="${data.getName()}" class="card-title">Заголовок меропрития</h5>
                            <h6 th:text="${data.getCategory()}" class="card-subtitle mb-2">вид мероприятия</h6>
                            <p class="card-text mb-3" th:text="${data.getDescription()}"></p>
                            <div class="icon-with-date-container mb-auto">
                                <div class="icon-with-date">
                                    <i class="bi bi-calendar4-week"></i>
                                    <span th:text="${#dates.format(data.getDate(), 'dd-MM-yyyy')}"></span>
                                    <i class="bi bi-clock"></i>
                                    <span th:text="${#dates.format(data.getDate(), 'HH:mm')}"></span>
                                </div>
                                <div class="icon-with-date">
                                    <i class="bi bi-hourglass-split"></i>
                                    <span th:text="${data.getDuration()}"></span>
                                </div>
                            </div>
                            <a th:if="${data != null }" class="text-decoration-none mt-auto" th:href="@{/order(type=${data.getHall().getId()}, e=${data.getId()})}">КУПИТЬ БИЛЕТЫ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="pagination pagination-sm justify-content-center" th:if="${event.totalPages > 0}">
        <li class="page-item" aria-current="page" th:each="pageNumber : ${#numbers.sequence(0, event.totalPages - 1)}"
            th:classappend="${pageNumber == event.number} ? 'active'">
            <form class="page-link"
                  th:action="@{/events/{firstParam}/{thirdParam}/{page}(firstParam=${firstParam}, thirdParam=${thirdParam}, page=${pageNumber})}"
                  th:method="post">
                <button class="page-link btn-page" type="submit" th:text="${pageNumber + 1}"></button>
            </form>
        </li>
    </ul>
</main>
<footer th:insert="~{base/base::basefooter}"></footer>
</body>
</html>