<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" type="text/css"  href="static/style.css">-->
    <title>Схема зала</title>
    <style>
        body{
            background-color: #1c1b1b;
        }
        svg {
            display: block;
            margin: 20px auto 0;
            background-color: #1c1b1b;

        }
        .seat {
            /*fill: #00c5ff;*/
            user-select: none;

        }
        .seat.selected {
            fill: red;
        }
        .seat, text {
            cursor: pointer;
        }
        .submit-container{
            position: absolute;
            right: 100px;

        }
        #tooltip {
            position: absolute;
            display: none;
            background: #f9f9f9;
            border: 1px solid #ccc;
            padding: 5px;
            z-index: 1;

        }
        .container {
            display: flex;
        }

        .svg-container {
            flex: 1;

        }



        .table-container {
            padding: 0 20px;
        }

        table {
            background-color: #1c1b1b;
            border-collapse: collapse;
            width: 100%;

        }

        th, td {
            color: whitesmoke;
            font-family: "Arialsans-serif",serif;
            padding: 8px;
            text-align: center;
        }

        .color-circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px;
        }
        .table-container {
            margin-top: 30px;
        }
        .btn {
            padding: 10px 20px;
            background-color: #8D917A;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #DDADAF;
        }
        .event-name {
            margin-right: 110px;
            color: #cccccc;
            text-align: center;
            font-size: 40px;
            margin-bottom: 20px;
        }

        /* Style the event date */
        .event-date {
            margin-right: 110px;
            text-align: center;
            font-size: 18px;
            color: #666;
        }


    </style>
</head>
<body>
<div>
    <div class="event-details">
        <h1 class="event-name" th:text="${event.getName()}"></h1><!-- Display the event name -->
        <h2 class="event-date" th:text="'КСК Уникс | ' + ${time}">Date and Time: </h2><!-- Display the event date and time -->
    </div>


</div>

<div th:attr="data-reserved-seats=${reservedSeats}" id="reservedSeats"></div>
<div th:attr="data-typeHall=${typeHall}" id="typeHall"></div>
<div th:attr="data-price-seats=${priceSeats}" id="priceSeats"></div>
<div id="tooltip"></div>
<div class="container">
    <div class="svg-container">
        <svg id="cinema-hall" width="1200" height="620" viewBox="0 0 1000 820" xmlns="http://www.w3.org/2000/svg">

        </svg>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <td>
                    <div class="color-circle" style="background-color: grey"></div></td>
                <td th:text="Забронировано">erterte</td>
            </tr>
            <tr>

                <td>
                    <div class="color-circle" style="background-color: #FF6347"></div></td>
                <td th:text="${priceSeatsForHtml[0]}">erterte</td>
            </tr>
            <tr>

                <td>
                    <div class="color-circle" style="background-color: #008B8B"></div></td>
                <td th:text="${priceSeatsForHtml[1]}">erterte</td>

            </tr>
            <tr>
                <td>
                    <div class="color-circle" style="background-color: #228B22"></div></td>
                <td th:text="${priceSeatsForHtml[2]}">erterte</td>
            </tr>
            <tr>
                <td>
                    <div class="color-circle" style="background-color: #00BFFF"></div></td>
                <td th:text="${priceSeatsForHtml[3]}">erterte</td>
            </tr>
            <tr>
                <td>
                    <div class="color-circle" style="background-color: #9370DB"></div></td>
                <td th:text="${priceSeatsForHtml[4]}">erterte</td>
            </tr>


        </table>
    </div>
</div>


<div class="submit-container">
    <form id="booking-form"  th:action=" @{/order/more}" th:method="POST" th:object="${seatData}">
        <input th:field="*{seat}"  type="hidden" id="selectedSeats" th:value="${seatData.seat}"/>
        <button type="submit" class="btn">Забронировать</button>
    </form>
</div>
<!--<script href="reservation.js"></script>-->

<script>
    let reservedSeatsData = document.getElementById('reservedSeats')
        .dataset.reservedSeats.replace("[", '')
        .replace("]", "")
        .replace(/"/g, '')
        .split(",");

    const typeHall = document.getElementById('typeHall').dataset.typehall;
    let COLORS = ['#FF6347', '#008B8B', '#228B22', '#00BFFF', '#9370DB']

    let priceSeats = document.getElementById('priceSeats')
        .dataset.priceSeats.replace("[", '')
        .replace("]", '')
        .replace(/"/g, '')
        .split(",");

    let selectedSeats = [];
    document.addEventListener('DOMContentLoaded', function() {
        const cinemaHall = document.getElementById('cinema-hall');
        if (typeHall === '1'){
            createSeats();
        }
        else if (typeHall === '2') {

            createSeatsSecondHall();
        }

        function createSeats() {
            const size = 15;
            const yCoord = 25;
            // Создаем места в зале
            // левый  верхний
            createSideSeats(200,30, 3, 26, 1, 0);
            createSideSeats(200 - size,30 + yCoord, 4, 25, 1, 0);
            createSideSeats(200 - 3 * size,30 + yCoord * 2, 9,  24, 1,0);
            createSideSeats(200 - 4 * size,30 + yCoord * 3, 11,  23, 1,0);
            createSideSeats(200 - 5 * size,30 + yCoord * 4, 12,  22, 1,1);
            createSideSeats(200 - 6 * size,30 + yCoord * 5, 13,  21, 1,1);
            createSideSeats(200 - 6 * size,30 + yCoord * 6, 13,  20, 1,1);
            createSideSeats(200 - 6 * size,30 + yCoord * 7, 13,  19, 1,1);

            for (let i = 0; i < 7; i++) {
                createSideSeats(200 - size,30 + yCoord * (8 + i), 8,  (18 - i), 1, 2);
            }
            createSideSeats(200 + 9 * size,30 + yCoord * 2 , 24,  24,  10, 0);
            createSideSeats(200 + 9 * size,30 + yCoord * 3 , 24,  24,  12, 1);
            createSideSeats(200 + 9 * size,30 + yCoord * 4 , 24,  24,  13, 1);
            for (let i = 0; i < 3; i++) {
                createSideSeats(200 + 9 * size,30 + yCoord * (5 + i) , 24,  24 - i,  14, 1);
            }
            for (let i = 0; i < 7; i++) {
                createSideSeats(200 + 9 * size,30 + yCoord * (8 + i) , 24,  24 - i,  9, 2);
            }

            // правый верхний
            createSideSeats(200 + 38 * size,30, 3,  26, 4, 0);
            createSideSeats(200 + 38 * size,30 + yCoord, 4, 25, 5, 0);
            createSideSeats(200 + 35 * size,30 + yCoord * 2, 9,  24, 34, 0);
            createSideSeats(200 + 35 * size,30 + yCoord * 3, 10, 23, 36, 0);
            createSideSeats(200 + 35 * size,30 + yCoord * 4, 11,  22, 37, 1);

            createSideSeats(200 + 35 * size,30 + yCoord * 5, 12,  21, 38,1);
            createSideSeats(200 + 35 * size,30 + yCoord * 6, 12,  20, 38,1);
            createSideSeats(200 + 35 * size,30 + yCoord * 7, 12, 19, 38,1);
            for (let i = 0; i < 7; i++) {
                createSideSeats(200 + 35 * size,30 + yCoord * (8 + i), 7, 18 - i, 33, 2);
            }

            // левый нижний
            for (let  i = 0; i < 5; i++){
                createSideSeats(200 - size * 5 ,30 + yCoord * (17 + i), 12,  11 - i, 1, 2);
            }
            for (let i = 0; i < 5; i++) {
                createSideSeats(200 - size * 5 ,30 + yCoord * 5 + yCoord * (17 + i), 12, 11 - i, 1, 3);
            }
            createSideSeats(200 - size * 4 ,30 + yCoord * 27, 11,  1, 1, 4);



            // центральный нижний
            for (let i = 0; i < 10; i++) {
                createSideSeats(200 + 9 * size,30 + yCoord * (17 + i), 24,  (11  - i), 13, 3);
            }
            createSideSeats(200 + 9 * size,30 + yCoord * 27 , 24, 1, 12, 4);

            // правый нижный
            for (let i = 0; i < 5; i++) {
                createSideSeats(200 + 35 * size,30 + yCoord * (17 + i), 11,  11 - i, 37, 2);
            }

            for (let i = 0; i < 5; i++) {
                createSideSeats(200 + 35 * size,30 + yCoord * (22 + i), 7,  6 - i, 37, 3);
            }
            createSideSeats(200 + 35 * size,30 + yCoord * 27, 7, 1, 36, 4);

        }
        function createSeatsSecondHall() {
            console.log(1);
            const size = 15;
            const yCoord = 25;
            createSideSeats(0,5, 31, 26, 1, 0);

        }


        function createSideSeats(x, y,  miniRectangleWidth, row, col, price) {
            if (typeHall === '2'){
                let count = 1;
                for (let i = 0; i < miniRectangleWidth; i ++) {
                    createSeat(x +  i * 20 + count * 35,  y +  20, row, col++, price);
                    count += 1;

                }
            }
            else {
                for (let i = 0; i < miniRectangleWidth; i+= 1) {
                    createSeat(x +  i * 15 , y +  20, row, col++, price);


                }

            }

        }
        if (typeHall === '1'){
            const yPos = 25;
            for ( i = 0; i < 15; i ++){
                createRowNum(70, 85 + yPos * i, 26 - i);
            }


            for ( j = 0; j < 11; j ++){
                createRowNum(70, 85 +  17 * yPos +  yPos * j, 11 - j);
            }
        }
        else if (typeHall === '2'){

        }

        function createRowNum(x, y, row) {
            const rowNumber = document.createElementNS("http://www.w3.org/2000/svg", 'text');
            rowNumber.setAttribute('x', x);
            rowNumber.setAttribute('y', y);
            rowNumber.setAttribute('fill', 'white');
            rowNumber.setAttribute('font-size', '13');
            rowNumber.setAttribute('font-family', "Arial, sans-serif");
            rowNumber.textContent = row;
            cinemaHall.appendChild(rowNumber);
        }
        const stageLabel = document.createElementNS("http://www.w3.org/2000/svg", 'text');
        stageLabel.setAttribute('x', 500);
        stageLabel.setAttribute('y', 800);
        stageLabel.setAttribute('fill', 'white');
        stageLabel.setAttribute('text-anchor', 'middle');
        stageLabel.setAttribute('font-size', '20');
        stageLabel.textContent = 'Сцена';
        cinemaHall.appendChild(stageLabel);




        function createSeat(x, y, row, col, price) {
            let seat = null;
            if (typeHall === '1'){
                seat = document.createElementNS("http://www.w3.org/2000/svg", 'circle');
                seat.setAttribute('cx', x);
                seat.setAttribute('cy', y + 30);
                seat.setAttribute('r', '7');
                seat.setAttribute('fill', 'gray');
                seat.setAttribute('data-coords', row + " " + col);
                seat.setAttribute('data-row', row);
                seat.setAttribute('data-col', col);
                seat.setAttribute('data-text', "");
                seat.setAttribute('price', priceSeats[price]);
                if (!reservedSeatsData.includes(row + " " + col)){
                    seat.setAttribute('fill', COLORS[price]);
                }
                else {
                    seat.setAttribute('fill', 'grey');
                }
                seat.classList.add('seat');
                cinemaHall.appendChild(seat);
            }
            else {
                console.log(23432432);
                seat = document.createElementNS("http://www.w3.org/2000/svg", 'rect');
                seat.setAttribute('x', x);
                seat.setAttribute('y', y + 30);
                seat.setAttribute('width', 50);
                seat.setAttribute('height', 30);
                seat.setAttribute('rx', '7');
                seat.setAttribute('ry', '7');
                seat.setAttribute('fill', 'gray');
                seat.setAttribute('data-coords', row + " " + col);
                seat.setAttribute('data-row', row);
                seat.setAttribute('data-col', col);
                seat.setAttribute('data-text', "");
                seat.setAttribute('price', priceSeats[price]);
                if (!reservedSeatsData.includes(row + " " + col)){
                    seat.setAttribute('fill', COLORS[price]);
                }
                else {
                    seat.setAttribute('fill', 'grey');
                }
                seat.classList.add('seat');
                cinemaHall.appendChild(seat);
            }

            const tooltip = document.createElementNS("http://www.w3.org/2000/svg", 'rect');
            tooltip.setAttribute('x', x - 100);
            tooltip.setAttribute('y', y);
            tooltip.textContent = "";
            tooltip.setAttribute('width', '140');
            tooltip.setAttribute('height', '50');
            tooltip.setAttribute('rx', '10');
            tooltip.setAttribute('ry', '10');
            tooltip.setAttribute('fill', 'none');
            tooltip.setAttribute('text-anchor', 'middle');
            tooltip.style.color = 'blue';
            cinemaHall.appendChild(tooltip);

            const text = document.createElementNS("http://www.w3.org/2000/svg", 'text'); // Создание текстового элемента для подсказки
            text.setAttribute('x', x);
            text.setAttribute('y', y);
            text.setAttribute('text-anchor', 'middle');
            text.setAttribute('fill', 'white');
            text.setAttribute('font-size', '14');
            text.setAttribute('font-family', "Arial, sans-serif");
            text.textContent = '';
            const tspan1 = document.createElementNS("http://www.w3.org/2000/svg", 'tspan');
            tspan1.textContent = '';
            tspan1.setAttribute('x', x);
            tspan1.setAttribute('dy', '1.5em');
            tspan1.setAttribute('font-weight', 'bold');
            text.appendChild(tspan1);

            const tspan2 = document.createElementNS("http://www.w3.org/2000/svg", 'tspan');
            tspan2.textContent = '';
            tspan2.setAttribute('x', x);
            tspan2.setAttribute('dy', '1.2em');
            text.appendChild(tspan2);
            cinemaHall.appendChild(text);
            cinemaHall.appendChild(text);


            seat.addEventListener('mouseover', function(event) {
                if (!reservedSeatsData.includes(event.target.getAttribute("data-coords"))) {


                    const mouseX = event.target.getAttribute("cx");
                    const mouseY = event.target.getAttribute("cy");

                    tooltip.setAttribute('x', mouseX - 70);
                    tooltip.setAttribute('y', mouseY - 70);
                    tooltip.setAttribute('fill', 'grey');
                    text.setAttribute('x', mouseX + 20);
                    text.setAttribute('y', mouseY - 30);
                    tspan1.setAttribute('x', mouseX - 25);

                    tspan1.setAttribute('y', mouseY - 70);

                    tspan2.setAttribute('x', mouseX);
                    tspan2.textContent =  event.target.getAttribute("data-row") + " ряд, " + event.target.getAttribute("data-col") + ' место';
                    tspan1.textContent =  event.target.getAttribute("price") + ' ₽';
                    event.target.setAttribute('r', '11');
                    event.target.setAttribute('fill', '#483D8B');
                    cinemaHall.appendChild(tooltip);
                    cinemaHall.appendChild(text);
                }
            });

            seat.addEventListener('mouseout', function(event) {
                if (!reservedSeatsData.includes(event.target.getAttribute("data-coords"))) {
                    event.target.setAttribute('r', '7');
                    event.target.setAttribute('fill', COLORS[price]);
                    tooltip.textContent = '';
                    tooltip.remove();
                    text.remove();
                }
            });

            seat.addEventListener('click', function(event) {
                const seatCoords = event.target.getAttribute("data-coords");

                if (!reservedSeatsData.includes(seatCoords)) {
                    const isSeatSelected = event.target.classList.contains('selected');
                    if (isSeatSelected) {
                        const index = selectedSeats.indexOf(seatCoords);
                        if (index !== -1) {
                            selectedSeats.splice(index, 1);
                        }
                        event.target.classList.toggle('selected');
                        console.log('Seat deselected');
                    } else {
                            console.log('da');
                            selectedSeats.push(seatCoords);
                            console.log('Seat selected');
                            event.target.classList.toggle('selected');
                            document.getElementById('selectedSeats').value = selectedSeats.join(',');
                            console.log(selectedSeats);

                    }
                }
            });
        }

    });
</script>
</body>
</html>
