<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="basehead">
    <title>Выбор мест</title>
    <link rel="icon" href="/branding/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/orderStatic/order.css">
</head>
<header th:insert="~{base/base::baseheader}">
</header>
<!--<body style="height: 1200px;">-->
<body>
<br>
<br>
<div>
    <br>
    <div class="event-details">

        <h1 class="event-name" th:text="${event.getName()}"></h1>
        <h2 class="event-date" th:text="'КСК Уникс | ' + ${time}">Date and Time: </h2>
        <h2 class="event-date" th:text="${event.getDescription()}">desc </h2>
        <h2 class="event-date" th:text="'Длительность: ' + ${event.getDuration()} + ' минут'">desc </h2>
    </div>


</div>

<div th:attr="data-reserved-seats=${reservedSeats}" id="reservedSeats"></div>
<div th:attr="data-typeHall=${typeHall}" id="typeHall"></div>
<div th:attr="data-price-seats=${priceSeats}" id="priceSeats"></div>
<div th:attr="data-priceId=${priceId}" id="priceId"></div>
<div id="tooltip"></div>
<div class="container-reserv">
    <div th:if="${typeHall == 2}">
        <div class="svg-container">
            <svg id="cinema-hall" width="1200" height="620" viewBox="0 -20 1000 820" xmlns="http://www.w3.org/2000/svg">

            </svg>
        </div>
    </div>
    <div th:if="${typeHall == 1}">
        <div class="svg-container">
            <svg id="cinema-hall" width="1200" height="720" viewBox="0 0 1000 820" xmlns="http://www.w3.org/2000/svg">

            </svg>
        </div>
    </div>
</div>


<div class="submit-container">
    <form id="booking-form" th:action="@{/order/more/{event}(event=${event.getId()})}" th:method="POST"
          th:object="${seatData}">
        <input th:field="*{seat}" type="hidden" id="selectedSeats" th:value="${seatData.seat}"/>
        <button id="reservation-button" type="submit" class="btn-sb">Купить</button>
    </form>
</div>


<script src="/orderStatic/reservation.js"></script>


</body>
<footer th:insert="~{base/base::basefooter}"></footer>
</html>
