@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
:root {
    --secondary-color: #e9c675;
    --text-light: #cbd5e1;
    --white: #ff7200;
    --max-width: 1000px;
    --header-font: "Manrope", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__subheader {
    position: relative;
    isolation: isolate;
    margin-bottom: 1rem;
    padding-left: 5rem;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--secondary-color);
}

.section__subheader::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 4rem;
    background-color: var(--secondary-color);
}

.section__subheader::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-60%, -50%);
    font-size: 8rem;
    font-weight: 600;
    color: var(--white);
    opacity: 0.1;
    z-index: -1;
}

.section__header {
    /*margin-bottom: 1rem;*/
    font-size: 1rem;
    font-weight: 200;
    font-family: var(--header-font);
    color: var(--white);
}
.section__header span {
    color: white; /* Оранжевый цвет для слова "свое" */
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: var(--white);
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}



.logo a {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--white);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

.header {
    position: relative;
    height: 100vh;
}

.header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 15rem);
    /*background-image: radial-gradient(*/
    /*        rgba(255, 255, 255, 0),*/
    /*        var(--primary-color)*/
    /*),*/
    url("assets/header-1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

.btn-event {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-family: var(--header-font);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 7px;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.btn-event:hover {
    background-color: black;
}

.frame-for-text{
    padding: 20px; /* Добавляем отступ вокруг текста внутри рамки */
    border-radius: 10px; /* Устанавливаем скругление углов рамки */
    background-color: #171616; /* Устанавливаем цвет фона внутри рамки */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем тень для элемента */
}
.header__container {
    position: relative;
    isolation: isolate;
    height: calc(100% - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__content {
    max-width: 700px;
}

.header__content .section__header {
    font-size: 4rem;
    font-weight: 600;
    line-height: 5rem;
}

.header__content a {
    color: var(--white);
}

.header__content a:hover {
    color: var(--secondary-color);
}

.header__socials {
    position: absolute;
    left: 0;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    transform: translateX(calc(-50% + 1rem)) rotate(90deg);
    display: none;
}

.header__socials a {
    font-size: 1.2rem;
    color: var(--white);
    transform: rotate(-90deg);
}

.header__socials a:hover {
    color: var(--secondary-color);
}

.about {
    overflow: hidden;
}

.about__container {
    padding-top: 0;
    display: grid;
    gap: 5rem 2rem;
    overflow: hidden;
}

.about__image img {
    max-width: 400px;
    margin-inline: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.about__content-1 .section__subheader::after {
    margin-top: 30px;
    content: "01";
}

.about__content-2 .section__subheader::after {
    content: "02";
}

.about__content-3 .section__subheader::after {
    content: "03";
}

.about__content p {
    margin-bottom: 1.5rem;
    color: var(--text-light);
}

.about__content a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--secondary-color);
}

.about__content a span {
    transition: 0.3s;
}

.about__content a:hover span {
    transform: translateX(10px);
}







@media (width > 768px) {


    .header__container {
        height: calc(100% - 10rem);
    }

    .header__socials {
        display: flex;
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 10rem 2rem;
    }

    .about__image-1 {
        grid-area: 1/2/2/3;
    }

    .about__image-3 {
        grid-area: 3/2/4/3;
    }

    .about__content {
        margin-left: 6rem;
    }


}