body {
    background-color: #1c1b1b;
    position: relative;
    min-height: 100%;
}

svg {
    display: block;
    /*margin: 20px auto 0;*/
    margin-left: 50px;
    background-color: #1c1b1b;

}

.seat {
    /*fill: #00c5ff;*/
    user-select: none;

}

.seat.selected {
    fill: red;
}

.seat, text {
    cursor: pointer;
}

.submit-container {
    position: absolute;
    right: 100px;

}

#tooltip {
    position: absolute;
    display: none;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1;

}

.container-reserv {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: center; /* Выравнивание по центру по горизонтали */
}

.svg-container {
    flex: 1;

}


.table-container {
    padding: 0 20px;
}

table {
    background-color: #1c1b1b;
    border-collapse: collapse;
    width: 100%;

}

th, td {
    color: whitesmoke;
    font-family: "Arialsans-serif", serif;
    padding: 8px;
    text-align: center;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.table-container {
    margin-top: 30px;
}

.btn-sb {
    background-color: #8D917A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-sb:hover {
    background-color: #DDADAF;
}

.event-name {
    color: #cccccc;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

/* Style the event date */
.event-date {
    text-align: center;
    font-size: 18px;
    color: #666;
}

/*todo диалоговое окно*/
/* Стили для модального окна */

/* Стили для модального окна */
.modal {
    display: none; /* Скрыть окно по умолчанию */
    position: fixed; /* Оставаться в верхней части */
    z-index: 1; /* Разместить над другими элементами */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Чер с непрозрачностью */
}

/* Стили для содержимого модального окна */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% от верхней части и центрировано по горизонтали */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Изменено на 30% для квадратной формы */
    height: 30%; /* Добавлено для квадратной формы */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40%; /* Отступ слева 40% */
    margin-right: 40%; /* Отступ справа 40% */
}

/* Стили для кнопки закрытия */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
