html {
    position: relative;
    min-height: 100%;
}
.nav-link{
    color: #fff;
    display: flex;
    align-items: center;
}
.navbar{
    height: 68px;
    display: flex;
    align-items: center;
}
body{
    height: 100vh;
    background-color: white;
}
.navbar-nav{
    margin-left: 90px;
    display: flex;
    align-items: center;
}

.bi-door-open{
    color: orange;
    font-size: large;
    margin-right: 4px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 30px; /* Центрирует текст вертикально внутри footer */
    background-color: #202529;
    color: #fff;
}
.bi-ticket-perforated{
    color: orange;
    font-size: x-large;
    margin-right: 4px;
}