<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="base/base :: basehead">
    <meta charset="UTF-8">
    <title>Info</title>

</head>
<body style="height: 1000px;">
<header th:insert="~{base/base::baseheader}">
</header>
<main>
    <link rel="stylesheet" type="text/css" href="/profileViewStatic/css/profile.css"/>
    <div class="profile">
        <span class="info-text" style="color: #FFFFFF;">Контактная информация</span>
        <a class="edit-link" th:href="@{/user/edit}">редактировать</a>
        <button class="exit-button">
            <i class="bi bi-box-arrow-right"></i> ВЫЙТИ
        </button>
        <br>
        <div class="profile-info">
            <div class="avatar-username">
                <img th:src="@{'/profileViewStatic/images/user_pic.jpg'}" alt="Картинка" class="image">
                <div class="username-field">
                    <p class="username-text" th:text="${user.getUsername()}">@Username</p>
                </div>
            </div>

            <div class="text-container">
                <div class="text-field">
                    <p class="area-for-lastName-text" th:text="${user.getFamilyName()}">Фамилия</p>
                </div>
                <div class="text-field">
                    <p class="area-for-name-text" th:text="${user.getName}">Имя</p>
                </div>
                <div class="text-field">
                    <p class="area-for-secondLastName-text" th:text="${user.getSurname()}">Отчество</p>
                </div>
                <div class="text-field">
                    <p class="area-for-mail-text" th:text="${user.getEmail()}">Почта</p>
                </div>
            </div>

            <img src="/profileViewStatic/images/Реклама.png" alt="Картинка" class="add-image">

        </div>
        <div class="line-after-profile-info"></div>
    </div>

    <p class="history-text" style="color: #FFFFFF;">История покупок</p>
    <ul class="history-list" th:each="ticket : ${user.getTickets()}" th:if="${user.getTickets().indexOf(ticket) < 5}">
        <div class="list-element">
            <ul class="event-bar">
                <li class="name-event-info">
                    <span class="name-concert" th:text="${ticket.getEvent().getName()}">
                    </span>
                </li>
                <li class="name-place-info">
                    <i class="bi bi-geo-alt-fill"></i>
                    <span class="name-place" th:text="${ticket.getEvent().getHall().getName()}">
                    </span>
                </li>
                <li class="date-info">
                    <i class="bi bi-calendar3"></i>
                    <span class="date" th:text="${ticket.getEvent().getDate().toLocaleString()}">
                    </span>
                </li>
                <li class="seat-place-info">
                    <i class="bi bi-ticket-perforated"></i>
                    <span class="seat-place" th:text="${ticket.getRow() + ' ряд / ' + ticket.getCol() + ' место'}">
                    </span>
                </li>
                <li class="price-info">
                    <i class="bi bi-tag-fill"></i>
                    <span class="price" th:text="${ticket.getPrice().getPrice()}">
                    </span>
                </li>
            </ul>
            <form th:action="@{/order(type=${ticket.getEvent().getHall().getId()}, e=${ticket.getEvent().getId()})}">
                <button class="event-link-button">
                    ссылка на мероприятие
                </button>
            </form>
        </div>
    </ul>
    <form th:action="@{/user/showEvents}">
        <button class="all-events-link-button">
            Посмотреть все...
        </button>
    </form>
</main>
<footer th:insert="base/base :: basefooter"></footer>
</body>
</html>
