<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="base/base :: basehead">
    <meta charset="UTF-8">
    <title>Info</title>

</head>
<body style="height: 1000px;">
<header th:insert="base/base :: baseheader">
</header>
<main>
    <link rel="stylesheet" type="text/css" href="/profileViewStatic/css/profile.css"/>
    <div class="profile">
        <span class="info-text" style="color: #FFFFFF;">Контактная информация</span>
        <a class="edit-link" th:href="@{/user/edit}">редактировать</a>
        <button class="exit-button">
            <i class="bi bi-box-arrow-right"></i> ВЫЙТИ
        </button>
        <br>
        <div class="profile-info">
            <div class="avatar-username">
                <img th:src="@{'/profileViewStatic/images/' + ${user.avatarFileName}}" alt="Картинка" class="image">
                <div class="username-field">
                    <p class="username-text" th:text="${user.getUsername()}">@Username</p>
                </div>
            </div>

            <div class="text-container">
                <div class="text-field">
                    <p class="area-for-lastName-text" th:text="${user.getFamilyName()}">Фамилия</p>
                </div>
                <div class="text-field">
                    <p class="area-for-name-text" th:text="${user.getName}">Имя</p>
                </div>
                <div class="text-field">
                    <p class="area-for-secondLastName-text" th:text="${user.getSurname()}">Отчество</p>
                </div>
                <div class="text-field">
                    <p class="area-for-phone-number-text" th:text="${user.getPhone_number()}">Телефон</p>
                </div>
                <div class="text-field">
                    <p class="area-for-mail-text" th:text="${user.getEmail()}">Почта</p>
                </div>
<!--                <div class="current-password">-->
<!--                    <div class="current-password-field">-->
<!--                        <p class="area-for-mail-text">**********</p>-->
<!--                    </div>-->
<!--                    <button class="look-password-button">-->
<!--                        <i class="bi bi-eye-fill"></i>-->
<!--                    </button>-->
<!--                </div>-->
            </div>

            <img src="/profileViewStatic/images/Реклама.png" alt="Картинка" class="add-image">

        </div>
        <div class="line-after-profile-info"></div>
    </div>

    <div class="purchase-history">
        <p class="history-text" style="color: #FFFFFF;">История покупок</p>
        <div class="history-list">
            <div class="list-element first-event">
                <ul class="event-bar">
                    <li class="name-event-info">
                        <span class="name-concert">
                          Name of the event
                        </span>
                    </li>
                    <li class="name-place-info">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span class="name-place">
                          Name of the building
                        </span>
                    </li>
                    <li class="date-info">
                        <i class="bi bi-calendar3"></i>
                        <span class="date">
                          dd.mm.yyyy hh:mm
                        </span>
                    </li>
                    <li class="seat-place-info">
                        <i class="bi bi-ticket-perforated"></i>
                        <span class="seat-place">
                          Seat (row/place)
                        </span>
                    </li>
                    <li class="price-info">
                        <i class="bi bi-tag-fill"></i>
                        <span class="price">
                          Price
                        </span>
                    </li>
                </ul>
                <button class="event-link-button">
                    ссылка на мероприятие
                </button>
            </div>

            <div class="list-element second-event">
                <ul class="event-bar">
                    <li class="name-event-info">
                        <span class="name-concert">
                          Name of the event
                        </span>
                    </li>
                    <li class="name-place-info">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span class="name-place">
                          Name of the building
                        </span>
                    </li>
                    <li class="date-info">
                        <i class="bi bi-calendar3"></i>
                        <span class="date">
                          dd.mm.yyyy hh:mm
                        </span>
                    </li>
                    <li class="seat-place-info">
                        <i class="bi bi-ticket-perforated"></i>
                        <span class="seat-place">
                          Seat (row/place)
                        </span>
                    </li>
                    <li class="price-info">
                        <i class="bi bi-tag-fill"></i>
                        <span class="price">
                          Price
                        </span>
                    </li>
                </ul>
                <button class="event-link-button">
                    ссылка на мероприятие
                </button>
            </div>

            <div class="list-element third-event">
                <ul class="event-bar">
                    <li class="name-event-info">
                        <span class="name-concert">
                          Name of the event
                        </span>
                    </li>
                    <li class="name-place-info">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span class="name-place">
                          Name of the building
                        </span>
                    </li>
                    <li class="date-info">
                        <i class="bi bi-calendar3"></i>
                        <span class="date">
                          dd.mm.yyyy hh:mm
                        </span>
                    </li>
                    <li class="seat-place-info">
                        <i class="bi bi-ticket-perforated"></i>
                        <span class="seat-place">
                          Seat (row/place)
                        </span>
                    </li>
                    <li class="price-info">
                        <i class="bi bi-tag-fill"></i>
                        <span class="price">
                          Price
                        </span>
                    </li>
                </ul>
                <button class="event-link-button">
                    ссылка на мероприятие
                </button>
            </div>

            <div class="list-element fourth-event">
                <ul class="event-bar">
                    <li class="name-event-info">
                        <span class="name-concert">
                          Name of the event
                        </span>
                    </li>
                    <li class="name-place-info">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span class="name-place">
                          Name of the building
                        </span>
                    </li>
                    <li class="date-info">
                        <i class="bi bi-calendar3"></i>
                        <span class="date">
                          dd.mm.yyyy hh:mm
                        </span>
                    </li>
                    <li class="seat-place-info">
                        <i class="bi bi-ticket-perforated"></i>
                        <span class="seat-place">
                          Seat (row/place)
                        </span>
                    </li>
                    <li class="price-info">
                        <i class="bi bi-tag-fill"></i>
                        <span class="price">
                          Price
                        </span>
                    </li>
                </ul>
                <button class="event-link-button">
                    ссылка на мероприятие
                </button>
            </div>

            <div class="list-element fifth-event">
                <ul class="event-bar">
                    <li class="name-event-info">
                        <span class="name-concert">
                          Name of the event
                        </span>
                    </li>
                    <li class="name-place-info">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span class="name-place">
                          Name of the building
                        </span>
                    </li>
                    <li class="date-info">
                        <i class="bi bi-calendar3"></i>
                        <span class="date">
                          dd.mm.yyyy hh:mm
                        </span>
                    </li>
                    <li class="seat-place-info">
                        <i class="bi bi-ticket-perforated"></i>
                        <span class="seat-place">
                          Seat (row/place)
                        </span>
                    </li>
                    <li class="price-info">
                        <i class="bi bi-tag-fill"></i>
                        <span class="price">
                          Price
                        </span>
                    </li>
                </ul>
                <button class="event-link-button">
                    ссылка на мероприятие
                </button>
            </div>
        </div>
        <button class="all-events-link-button">
            Посмотреть все...
        </button>
    </div>
</main>
<footer th:insert="base/base :: basefooter"></footer>
</body>
</html>
