:root {
    --primary-color: #f9b23c;
    --primary-color-dark: #f49a20;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.error-container {

    height: 100vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: auto;
    color: var(--text-dark);
    flex-direction: column;
}

.error-container img {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}


.error-text {
    width: 90%;
    display: grid;
    gap: 2rem;
    place-content: baseline;
}
