@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope Medium", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #141414 url('img/loginBG.svg') no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    width: 420px;
    color: #fff;
}

.wrapper h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-family: "Manrope", sans-serif;
}

.wrapper h2 {
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 2px;
    font-family: "Manrope ExtraBold", sans-serif;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #2a2a2a;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    padding: 20px 45px 20px 65px;
}

.input-box input::placeholder {
    color: #737373;
}

.input-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #ec7f00;
}

.wrapper .remember {
    font-size: 10px;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

.remember label {
    display: flex;
    align-items: stretch;
}

.remember label:hover {
    color: #ec7f00;
}

.remember label input {
    accent-color: #ec7f00;
    margin-right: 3px;
    cursor: pointer;
}

.remember a {
    color: #fff;
    text-decoration: none;
}

.remember a:hover {
    color: #ec7f00;
    text-decoration: underline;
}

.wrapper .btn {
    width: 50%;
    position: relative;
    left: 25%;
    height: 45px;
    background: #ec7f00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.wrapper .register-link {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}

.register-link p a {
    color: #798c50;
    text-decoration: none;
}

.register-link p a:hover {
    text-decoration: underline;
}

.message-box-success {
    margin-top: 15px;
    background-color: rgb(131,185,16);
    padding: 10px;
    border: 1px solid green;
    width: 420px;
    color: black;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
}

.message-box-error {
    margin-top: 15px;
    background-color: rgb(205,23,23);
    padding: 10px;
    border: 1px solid red;
    width: 420px;
    color: black;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
}

.message-box-logout {
    margin-top: 15px;
    background-color: rgb(255,254,68);
    padding: 10px;
    border: 1px solid yellow;
    width: 420px;
    font-size: 12px;
    color: black;
    border-radius: 3px;
    text-align: center;
}