<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="basehead">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tomato Juice</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"  rel="stylesheet"/>
<!--    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">-->
    <link rel="icon" href="/branding/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/welcomeStatic/welcome.css" />

</head>
<header th:insert="~{base/base::baseheader}">
</header>
<body>
<header class="header" id="home">
    <div class="section__container header__container">
        <div class="header__content">

            <h1 class="section__header" style="font-size: 35px">
                ПРОВОДИТЕ
                <span>СВОЕ</span> ВРЕМЯ  <span>С НАМИ</span>
            </h1>
            <h3 class="section__subheader">билеты на концерты, вечеринки, матчи
                и многое другое!</h3>
            <form th:action="@{/events}">
                <button type="submit"  class="btn-event" id="confirm-purchase">перейти к мероприятиям</button>
            </form>

            <div class="scroll__btn" >
                <a href="#about" style="color: #cbd5e1">
                    У нас можно
                    <span><i class="ri-arrow-down-line"></i></span>
                </a>
            </div>

        </div>
    </div>
</header>
<section class="about">
    <div class="section__container about__container">
        <div class="about__image about__image-1" id="about">
            <img src="/welcomeStatic/asset1.jpg"  alt="about" />
        </div>
        <div class="about__content about__content-1">
            <h3 class="section__subheader">ПОКУПКА БИЛЕТОВ</h3>
            <div class="frame-for-text">
                <p>
                    Покупайте билеты на концерты ваших любимых исполнителей, а также посещайте интересные меропрития.
                    Вы можете добавлять мероприятия в избранное, чтобы их не потерять.
                </p>

            </div>
            <div class="about__btn">
                <a href="#">
                    Перейти в избранное
                    <span><i class="ri-arrow-right-line"></i></span>
                </a>
            </div>
        </div>
        <div class="about__image about__image-2" id="equipment">
            <img src="/welcomeStatic/asset2.jpg" alt="about" />
        </div>
        <div class="about__content about__content-2">
            <h3 class="section__subheader">Следите за мероприятиями</h3>

            <div class="frame-for-text">
                <p>
                    Все текущие и будущие события в удобном формате для наших пользователей
                    Поиск определенного мероприятия по названию, поиск по категориям и многое другое
                </p>

            </div>
            <div class="about__btn">
                <a href="#">
                    К расписанию
                    <span><i class="ri-arrow-right-line"></i></span>
                </a>
            </div>
        </div>
        <div class="about__image about__image-3" id="blog">
            <img src="/welcomeStatic/asset3.jpg" alt="about" />
        </div>
        <div class="about__content about__content-3" >
            <h3 class="section__subheader">Организация мероприятия</h3>
            <div class="frame-for-text">
                <p>
                    А теперь самое главное! Вы можете сами стать организатором какого-либо мероприятия, арендовав зал.
                    Для этого вам нужно стать нашим VIP-клиентом, заполнив форму с данными!
                </p>

            </div>

            <div class="about__btn">
                <a href="#">
                    Стать VIP-клиентом
                    <span><i class="ri-arrow-right-line"></i></span>
                </a>
            </div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/welcomeStatic/welcome.js"></script>
</body>
<footer th:insert="~{base/base::basefooter}"></footer>
</html>