.second-header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #946102;
    padding: 25px;
    margin-top: 65px;
    margin-bottom: 65px;
}

#eventsForm button {
    background-color: #946102;
    border: 0;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    padding: 8px 12px;
    transition: color 0.3s ease-in-out;
}

#eventsForm button:hover {
    color: grey;
}

.second-header a  {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    padding: 8px 12px;
    border-radius: 2px;
    transition: color 0.3s ease-in-out;
}

.second-header a:hover {
    color: grey;
}

/* second-header part is over*/

.table-background {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #946102;
    border-radius: 10px;
    scrollbar-width: none;
}

body,html {
    scrollbar-width: none;
    margin-bottom: 150px;
}


/*wrapper and html part is over*/

table {
    text-align: center;
    width: 95%;
    overflow-y: auto;
    scrollbar-width: none;
}

th {
    background-color: #946102; /* Orange header */
    color: #222;
    padding: 10px;
    text-align: center;
}

#descriptionCol {
    text-align: center;
    width: 30%;
}

#editButtons a {
    padding: 2px;
    border: 1px black;
    background-color: #414141;
    color: #2ec4a5;
    transition: background-color 0.3s ease-in-out;
}


#editButtons a:hover {
    background-color: grey;
}

tr {
    transition: background-color 0.3s ease-in-out;
    background-color: #1e1e1e;
    color: #2ec4a5;
}

td {
    color: #2ec4a5;
    padding: 8px;
    border-bottom: 1px solid #333;
}

td:hover {
    background-color: #2d2d2d;
}

tr:nth-child(even) {
    background-color: #282828; /* Slightly lighter dark row */
}


/*scrollBtn*/
#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #946102;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}


#scrollBtn:hover {
    background-color: #555;
}


