<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <link rel="stylesheet" href="error/error.css">
</head>
<body>

<div class="container">
    <div class="header">
        <h1>404</h1>
        <h3>Page </h3>
    </div>
    <img src="logo.jpg" alt="not found">
    <div class="footer">
        <p>
            We're sorry, the page you requested could not be found.
            Pleaser go back to the homepage!
        </p>
        <button>GO HOME</button>
    </div>
</div>


</body>
</html>