<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="base :: basehead">
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body style="height: 5000px;">

<header th:insert="base :: baseheader">
</header>

<main style="margin-top: 70px;">
    <link rel="stylesheet" type="text/css" href="events.css"/>
    <div>
        <a class="l" href="#">Events</a>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 pl-20" style="padding-left: 20px;">
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="logo.jpeg" class="img-fluid rounded-start" alt="...">
                        <div class="age-rating">18+</div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Заголовок меропрития</h5>
                            <h6 class="card-subtitle mb-2">вид мероприятия</h6>
                            <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                            <p class="icon-with-date">
                                <i class="bi bi-calendar4-week"></i> April 24, 2024
                            </p>
                            <p href="#" class="card-link">Ссылка карточки</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="logo.jpeg" class="img-fluid rounded-start" alt="...">
                        <div class="age-rating">18+</div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Заголовок меропрития</h5>
                            <h6 class="card-subtitle mb-2">вид мероприятия</h6>
                            <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                            <p class="icon-with-date">
                                <i class="bi bi-calendar4-week"></i> April 22, 2024
                            </p>
                            <p href="#" class="card-link">Ссылка карточки</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="logo.jpeg" class="img-fluid rounded-start" alt="...">
                        <div class="age-rating">18+</div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Заголовок меропрития</h5>
                            <h6 class="card-subtitle mb-2">вид мероприятия</h6>
                            <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                            <p class="icon-with-date">
                                <i class="bi bi-calendar4-week"></i> April 22, 2024
                            </p>
                            <p href="#" class="card-link">Ссылка карточки</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="logo.jpeg" class="img-fluid rounded-start" alt="...">
                        <div class="age-rating">18+</div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Заголовок меропрития</h5>
                            <h6 class="card-subtitle mb-2">вид мероприятия</h6>
                            <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                            <p class="icon-with-date">
                                <i class="bi bi-calendar4-week"></i> April 22, 2024
                            </p>
                            <p href="#" class="card-link">Ссылка карточки</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer th:insert="base::basefooter"></footer>
</body>
</html>