<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оплата</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"  href="payment/paymentStyle.css">
</head>
<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://bootstraptema.ru/snippets/form/2017/jquery.payform.min.js"></script>
<script src="https://bootstraptema.ru/snippets/form/2017/script.js"></script>

<div class="container">
    <div class="row">

        <div class="creditCardForm">

            <div class="payment">
                <form>
                    <div class="labels-p">
                        <h3>Tomato Juice</h3>
                        <h5 class="left-text">Оплата в </h5>
                        <h5 class="right-text">Tomato Juice </h5>
                        <br>
                        <h5 class="left-text">Сумма</h5>
                        <h5 class="right-text">2,00₽</h5>
                        <br>
                        <h5 class="left-text" >Комиссия </h5>
                        <h5 class="right-text">0,01₽</h5>

                    </div>

                    <br>
                    <div class="form-group card-num">

                        <label for="card-number-field">Номер карты</label>

                        <input type="text"  id="card-number-field">
                        <div class="bank-logo-container" id="bank-logo-container"></div>

                    </div>

                    <div class="form-group card-dur">
                        <label for="card-dur">Действует</label>
                        <input type="text"  id="card-dur">
                    </div>
                    <div class="form-group owner">
                        <label for="owner">Владелец</label>
                        <input type="text"  id="owner">
                    </div>
                    <div class="form-group CVV">
                        <label for="cvv">CVV</label>
                        <input type="text"  id="cvv">
                    </div>



                    <div class="form-group" id="pay-now">
                        <button type="submit" class="btn btn-default" id="confirm-purchase">Оплатить</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script src="js/payment/payment.js"></script>

</body>
</html>