<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragme      nt="basehead">
    <title>Оплата</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="payment/paymentStyle.css">

</head>
<header th:insert="base/base :: baseheader">
</header>
<body>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-6 center-content">
            <div class="creditCardForm" style="background-color: black">

                <div class="payment" style="color:#008B8B;">
                    <form th:method="POST" th:action="@{/payment/buy/{price}/{id}/{event}(price=${amount}, id=${user_id}, event=${event_id})}" th:object="${bankCard}">
                        <div class="form-group-second" style="width: 60%; margin-left: 70px; color: darkorange"  >
                            <h3>Tomato Juice</h3>
                            <img src="logo.png" alt="Описание изображения" width="50" height="50">

                        </div>

                        <div class="labels-p">
                            <h5 class="left-text">Оплата в </h5>
                            <h5 class="right-text">Tomato Juice </h5>
                            <br>
                            <h5 class="left-text">Сумма</h5>
                            <h5 class="right-text" th:text="${amount} + '₽'">2,00₽</h5>
                            <br>
                            <h5 class="left-text" >Комиссия </h5>
                            <h5 class="right-text" >0,00₽</h5>

                        </div>

                        <br>
                        <div >
                            <div class="form-group-second">
                                <div class="inputBox"  style="width: 430px;margin: 2px;">
                                    <input  type="text"  th:field="*{cardNumber}" id="card-number-field" required="required">
                                    <span >Номер карты</span>
                                    <i></i>

                                </div>
                                <div class="inputBox" style="margin: 2px;" >

                                    <input  type="text"  th:field="*{duration}" id="card-dur" required="required">
                                    <span>Действует</span>
                                    <i style="width: 45%;"></i>
                                </div>
                            </div>
                            <div class="bank-logo-container" id="bank-logo-container"></div>
                            <div class="form-group-second">

                                <div class="inputBox" style="width: 430px;margin: 2px;">

                                    <input  type="text" th:field="*{owner}"  id="owner" required="required">
                                    <span>Владелец</span>
                                    <i></i>
                                </div>
                                <div class="inputBox" >

                                    <input type="text"  id="cvv" th:field="*{cvc}" required="required">
                                    <span>CVC</span>
                                    <i style="width: 45%;"></i>
                                </div>
                            </div>
                            <div th:if="${error}" style="font-size: 11px; color: darkred">
                                Введены неправильные данные, попробуйте еще раз!
                            </div>


                        </div>



                        <div class="form-group-btn" id="pay-now" style="margin-left: auto">
                            <button th:text="'Оплатить ' + ${amount} + '₽'" type="submit" class="btn btn-default" id="confirm-purchase">Оплатить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://bootstraptema.ru/snippets/form/2017/jquery.payform.min.js"></script>
<script src="https://bootstraptema.ru/snippets/form/2017/script.js"></script>
<script src="js/payment/payment.js"></script>

</body>
<footer th:insert="base/base::basefooter"></footer>
</html>
