main{
    margin-top: 70px;
    background-color: #000000;
    display: grid;
    place-items: center;
    zoom: 90%;
}

.events{
    margin-top: 30px;
    display: grid;
    place-items: center;
}

.name{
    margin-bottom: 20px;
    color: white;
}

.return-on-profile-button{
    width: 300px;
    height: 35px;
    background-color: #EC7F00;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    align-items: center;
    margin-bottom: 60px;
}

.return-on-profile-button:hover{
    background-color: #BC6500;
}

.return-on-profile-button:active{
    background-color: #aa4500;
}

.list-element{
    display: flex;
    align-items: center;
}

.event-bar li{
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}

.event-bar{
    width: 1000px;
    height: 45px;
    background-color: #3E3E3E;
    border-radius: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.event-link-button{
    width: 200px;
    height: 45px;
    background-color: #EC7F00;
    padding: 10px;
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
    margin-left: 20px;
}

.event-link-button:hover{
    background-color: #DA6606;
}

.list-element{
    display: flex;
}

.name-event-info {
    width: 135px;
}

.name-place-info{
    width: 175px;
}

.date-info{
    width: 200px;
}

.seat-place-info{
    width: 160px;
}

.price-info{
    width: 70px;
}

.name-event-info, .name-place-info, .date-info, .seat-place-info, .price-info{
    color: #FFFFFF;
}

.bi-geo-alt-fill, .bi-calendar3, .bi-ticket-perforated, .bi-tag-fill{
    color: #EC7F00;
}

.bi-ticket-perforated{
    position: relative;
    top: 3px;
}

.event-link-button{
    width: 200px;
    height: 45px;
    background-color: #EC7F00;
    padding: 10px;
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
    margin-left: 20px;
}

.event-link-button:hover{
    background-color: #DA6606;
}