<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="basehead">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body th:fragment="basebody" style="height: 5000px;">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<header th:fragment="baseheader" class="fixed-top" id="header">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/baseStatic/base.css"/>
    <div >
        <nav class="navbar navbar-dark  navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand ms-4" href="/">
                    <img alt="Brand"  src="/branding/logo.svg" height="40px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mr-auto mb-3 mb-lg-0" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a th:href="@{/}" class="nav-link active" aria-current="page">
                                ГЛАВНАЯ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/events}" class="nav-link active" aria-current="page">
                                <i class="bi bi-ticket-perforated"></i> КУПИТЬ БИЛЕТЫ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/#}" class="nav-link active" aria-current="page">
                                КАК СТАТЬ VIP
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{#}" class="nav-link active" aria-current="page">
                                О НАС
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav" style="margin-right: 20px;">
                    <li class="nav-item">
                        <a sec:authorize="isAnonymous()" class="nav-link" aria-current="page" href="/login">
                            <i class="bi bi-door-open"></i> ВОЙТИ
                        </a>
                        <a sec:authorize="isAuthenticated()" class="nav-link" aria-current="page" href="/user">
                            <i class='bx bx-user-circle'></i> ЛИЧНЫЙ КАБИНЕТ
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div th:fragment="basefooter">
    <link rel="stylesheet" type="text/css" href="/baseStatic/base.css"/>
    <footer class="footer text-white text-center py-3 custom-footer">
        <div class="container">
            <span>&copy; 2024 Tomato Juice Inc.ITIS.KPFU.</span>
        </div>
    </footer>
</div>
</body>
</html>