.icon-with-date {
    display: flex;
    align-items: center;
}
.icon-with-date i {
    margin-right: 6px;
}
.bi-calendar4-week{
    color: orange;
    font-size: x-large;
}
.bi-clock{
    color: orange;
    font-size: x-large;
    padding-left: 30px;
}
.bi-hourglass-split{
    color: orange;
    font-size: xx-large;
}
.card-subtitle{
    color: gray;
}
.age-rating {
    position: absolute;
    top: 7px; /* Положение возрастного ценза относительно верхнего края */
    right: 10px; /* Положение возрастного ценза относительно правого края */ /* Цвет фона возрастного ценза */
    color: orange; /* Цвет текста возрастного ценза */
    padding: 5px; /* Отступ внутри возрастного ценза */
    border-radius: 5px; /* Скругление углов возрастного ценза */
    font-size: 19px; /* Размер шрифта возрастного ценза */
}
.text-decoration-none:hover {
    color: orange /* Оранжевый цвет текста */
}
.text-decoration-none{
    color: white;
    transition: color 0.3s;
}

#listContainer {
    background-color: #202529;
    border-radius: 10px; /* Радиус закругления 10px (можете изменить на нужное значение) */
    overflow: hidden; /* Убираем лишнее содержимое за пределы округлой формы */
    position: absolute;
    top: 50%; /* Position vertically in the middle */
    left: calc(100% + 10px); /* Position to the right of the button with a 10px gap */
    transform: translate(-50%, -50%); /* Center vertically */
    display: none;
    z-index: 999; /* Ensure it appears above other content */
}
#listContainer a{
    text-decoration: none;
}

.custom-form {
    /* Add styles for the form */
    margin-bottom: 10px;
}


.transparent-button {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    transition: color 0.3s; /* Плавное изменение цвета текста */
}

.transparent-button:hover {
    color: orange; /* Цвет текста при наведении */
}

.pagination {
    display: flex;
    justify-content: center;
}
.btn-page {
    border: none; /* Убираем границу */
    color: black; /* Цвет текста */
    background-color: transparent; /* Прозрачный фон */
    padding: 0.375rem 0.75rem;
    transition: color 0.3s; /* Плавный переход для цвета текста */
}
.btn-page:hover {
    background-color: transparent; /* Прозрачный фон при наведении */
    color: #ff9800; /* Изменяем цвет текста при наведении */
}
.page-item.active .btn-page {
    background-color: transparent; /* Прозрачный фон для активного элемента */
    color: #ff9800; /* Цвет текста для активного элемента */
}


